/*** START HOME PAGE SPECIFIC STYLES ***/
.home-page {text-align: center;}

.home-page table {
  width: 100%;
  margin: 0 auto;
  min-width: 866px;
}

.home-page table tbody {
  width: 100%;
}

.home-page table tr {
  width: 100%;
}

.home-page table tr:first-child td:first-child {
  width: 74%;
}

.home-page table tr:first-child td:first-child a.button.flat {
  border: 1px solid #9daca9;
  background: rgb(238, 237, 234);
}

.home-page table tr:first-child td:first-child a.button.flat:hover {
  border: 1px solid #9daca9;
  background: rgb(204, 204, 204);
}

.home-page table tr:first-child td:first-child ul {
  margin: 0 0 24px 0;
}

.home-page table tr:first-child td:last-child {
  padding-right: 0px;
}

.home-page table tr:first-child td:last-child .collapse-box {
  position: relative;
  top: 0px;
}

.home-page table tr:first-child td:last-child .collapse-box:first-child img {
  width: 100%;
}

.home-page table tr td {
  border: none;
  text-align: left;
  padding: 0;
  vertical-align: top;
}

.home-page .nav-col-left {
  float: left;
  padding-right: 3%;
  width: 45%;
}

.home-page .nav-col-right {
  float: right;
  padding-right: 5%;
  width: 45%;
}

.home-page table tr td h5 {
  margin: 10px 0;
  font-size: 1.4em;
}

.home-page table tr td ul li {
  width: 100%;
}

.home-page table tr td ul li a {
  width: calc(100% - 20px);
  margin: 5px 0;
  font-weight: 300;
  font-size: 14px;
  text-transform: none;
  text-align: left;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  border-bottom-left-radius: 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0666667) 0px 3px 3px 0px;
  box-shadow: rgba(0, 0, 0, 0.0666667) 0px 3px 3px 0px;
}

.home-page table tr td .collapse-box {
  margin-bottom: 20px;
  width: 100%;
}

.home-page table tr td .collapse-box .collapse-box-header {
  position: relative;
  padding-left: 25px;
}

.home-page table tr td .collapse-box .collapse-box-header i {
  position: absolute;
  left: 7px;
  margin-top: -1px;
}

.home-page table tr td .collapse-box .collapse-box-container {
  padding: 10px 10px 10px;
}

.home-page table tr td .collapse-box .collapse-box-container ul li a {
  line-height: 1.2em;
  font-size: 1.1em;
  box-shadow: none;
  border: none;
  padding: 3px 0;
  display: block;
}

.home-page table tr td .collapse-box .collapse-box-container .annoucement {
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: 400;
  border-bottom: 1px solid #333333;
}

.home-page table tr td .collapse-box .collapse-box-container .annoucement p {
  line-height: 1.6em;
  font-size: 1.1em;
  box-shadow: none;
  border: none;
  padding: 0;
}

.home-page table tr td .collapse-box .collapse-box-container .annoucement:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 0;
}

.home-page table tr td .collapse-box .collapse-box-container .annoucement p {
  margin-bottom: 10px;
}

.home-page table tr td .collapse-box .collapse-box-container .annoucement p:last-child {
  margin-bottom: 0;
}
/** END HOME PAGE SPECIFIC STYLES ***/

/******************* MOBILE ONLY STYLES BELOW - MUST BE LAST ON PAGE ********/

/*** START TABLET LANDSCAPE MODE ***/
@media (max-width: 1100px) {

  .home-page .nav-col-left {
    float: none;
    width: 95%;
  }

  .home-page .nav-col-right {
    float: none;
    width: 95%;
  }

  .home-page table tr td .collapse-box {
    margin-bottom: 20px;
    width: 286px;
  }

  .home-page table tr td .collapse-box {
    width: 326px;
  }
  .home-page table tr:first-child td:last-child .collapse-box:first-child img {
    width: 306px;
  }
}
/*** END TABLET LANDSCAPE MODE ***/
